.container{
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
}

.main {
  width: calc(100% - 80px);
  height:100%;
  padding-top: 0px;
}

@media screen and (max-width:414px) {
  .container {
    max-height: 100vh;
    flex-direction: column-reverse;
  }

  .dummyChildren {
    flex:1 1 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    background-color: aqua;
    color:blue;
  }

  .main {
    width: 100%;
    max-height: calc(100vh - 66px);
    flex:1 1 calc(100vh - 66px);
    display: flex;
    flex-direction: column;
  }
}