.container {
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
}

.main {
  width: 100%;
  height: auto;
  position: relative;
  padding:0px 10.13888888888889vw 0px 9.02777777777778vw;
}

/*hack, so followers height will looks like match to the left element....*/
.followersShade{
  z-index: 0;
  background-color: #1B1B1B;
  width: 0px;
  position: absolute;
  left:100%;
  top:0px;
  height:100%;
}

@media screen and (max-width:414px) {
  .containerAtHome {
    flex:1 1 calc(100vh - 66px);
    height:calc(100vh - 66px);
    max-height: calc(100vh - 66px);
    overflow: hidden;
  }
  
  .main {
    padding:0px 20px;
  }
}

@media screen and (min-width:1440px) {/*change this into 1440px later...*/  
  .main {
    width: calc(100% - 375px);
  }

  .followersShade {
    width: 375px;
  }
}