.container {
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
}

.main {
  width: 100%;
  height: auto;
  position: relative;
}

/*hack, so followers height will looks like match to the left element....*/
.followersShade{
  z-index: 0;
  background-color: #1B1B1B;
  width: 0px;
  position: absolute;
  left:100%;
  top:0px;
  height:100%;
}

@media screen and (max-width:414px) {
  .containerAtHome {
    flex:1 1 calc(100vh - 66px);
  }  
}

@media screen and (min-width:1440px) {/*change this into 1440px later...*/  
  .main {
    width: calc(100% - 375px);
  }

  .followersShade {
    width: 375px;
  }
}