.container {
  width: 100%;
  flex:1 1 51.33333333333333vh;
  /*height: 51.33333333333333vh;/*figma height : 462px*/
  /*background-color: darkgoldenrod;*/
  padding-top: 37.22222222222222vh;
}

.container *:first-child {
  margin-top: 0px;
  margin-bottom: 0px;
}

/*
container mobile height : 210
total mobile height: 812px
2586206896551724
*/

@media screen and (max-width:414px) {
  .container {
    /*height: 25.86206896551724vh !important;*/
    flex:1 1 25.86206896551724vh;
    padding-top:0px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
  }

  .container *:first-child{
    position: relative;
    bottom:calc(66px + 2.95566502463054vh);
  }
}